!!! 5
%html
	%head
		%title FH App
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags 

	%body 
		%nav.navbar.navbar-default
			.container
				.navbar-brand= link_to "FOODHAPPENS", root_path
	
				- if user_signed_in?
					%ul.nav.navbar-nav.navbar-left
						%li= link_to "Recipes", recipes_path
						%li= link_to "Items", items_path
					%ul.nav.navbar-nav.navbar-right
						%li= link_to "New Recipe", new_recipe_path
						%li= link_to "New Item", new_item_path
						%li= link_to "Sign out", destroy_user_session_path, method: :delete
				- else
					%ul.nav.navbar-nav.navbar-right
						%li= link_to "Register", new_user_registration_path
						%li= link_to "Sign In", new_user_session_path
		.container
			- flash.each do |name, msg| 
				=content_tag :div, msg, class: "alert"
			= yield
